.A {
    height: 15%;
    width: 100%;
    background-color: rgb(13, 236, 180);
    padding-right: 8px;
    gap: 20px;
    align-items: center;
    display: flex;
    justify-content: flex-end;
}
.B {
    height: 200%;
    width: 100%;
    background-color: beige;
    padding-right: 8px;
    
}